*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
   width: 100vw;
   /*height: 100vh;*/
}

body {
   font-family: sans-serif;
}

.title {
   width: 100vw;
   height: 10vw;
   text-align: center;
   padding: 1em 0;
   font-weight:bold;
   font-size: 3vw;
}

.customers {
   width: 100vw;
   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
}

ul {
   list-style-type: none;
   text-align: center;
   line-height: 1.5;
}

img {
   width: 23vw;
   height: 23vw;
}

.customer-name, .customer-email {
   text-transform: uppercase;
}

.customer-name {
   font-weight: bold;
   text-decoration: underline;
   text-decoration-style: solid;
   tex-decoration-color: green;
}

.customer-email {
   color: grey;
   font-size: 75%;
   font-weight: lighter;
}

.address {
   font-weight: lighter;
   text-transform: capitalize;
}
